{% extends "./base.html" %}

{% block content %}


<script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>

<section class="antialiased bg-gray-100 text-gray-600 h-screen px-4" x-data="app">
    <div class="flex flex-col justify-center h-full">
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <div class="font-semibold text-gray-800">Manage Carts</div>
            </header>

            <div class="overflow-x-auto p-3">
                <table class="table-auto w-full" id="table">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                        <tr>
                            <th></th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Product Name</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Quantity</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Price</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-center">Action</div>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-sm divide-y divide-gray-100">
                        <!-- record 1 -->
                        {% for cart in carts %}
                        <tr>
                            <td class="p-2">
                                <input type="checkbox" class="w-5 h-5" value="{{cart.product.price }}"
                                    onClick="toggleCheckbox($el, {{cart.product.price }})" />
                            </td>
                            <td class="p-2">
                                <div class="font-medium text-gray-800">
                                    {{cart.product.title}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left">
                                    <input id="quantity-{{cart.id}}" min="1" type="number" value="{{cart.quantity}}"
                                    onchange="myFunction(this.value,{{cart.product.price}},{{cart.id}})" >
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left font-medium text-green-500" id="price-{{cart.id}}">
                                    {{cart.product.price }}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="flex justify-center">
<!--                                    <form method="post">-->
<!--                                        {% csrf_token%}-->
<!--                                        <input name="id" value="{{cart.id}}" class="hidden">-->
<!--                                    <button type="submit" id="delete-{{cart.id}}">-->
<!--                                        <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1"-->
<!--                                            fill="none" stroke="currentColor" viewBox="0 0 24 24"-->
<!--                                            xmlns="http://www.w3.org/2000/svg">-->
<!--                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">-->
<!--                                            </path>-->
<!--                                        </svg>-->
<!--                                    </button>-->
<!--                                    </form>-->
                                    <button onclick="al({{cart.id}})" id="del">
                                        <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1"
                                            fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- total amount -->
            <div class="flex justify-end font-bold space-x-4 text-2xl border-t border-gray-100 px-5 py-4">
                <div>Total</div>
                <div class="text-blue-600">Rs <span x-text="total.toFixed(2)"></span></div>
            </div>

            <div class="flex justify-end">
                <!-- send this data to backend (note: use class 'hidden' to hide this input) -->
                <input type="hidden" class="border border-black bg-gray-50" x-model="selected" />
            </div>
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    function al(id){
    $.ajax(
    {
        type:"GET",
        url: "",
        data:{
                 "cart_id": id
        },
        success: function( data )
        {
             var successHtml = $($.parseHTML(data)).find("#table").html();
             $("#table").html(successHtml);
        }
     })
}
</script>



<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("app", () => ({
            total: 0,
            selected: [],

            toggleCheckbox(element, amount) {
                if (element.checked) {
                    this.selected.push(element.value);
                    this.total += amount;
                } else {
                    const index = this.selected.indexOf(element.value);

                    if (index > -1) this.selected.splice(index, 1);

                    this.total -= amount;
                }
            },
        }));
    });







<!--window.onload = function() {-->
<!--        myFunction();-->
<!--    }-->
<!--}-->

function myFunction(qty,price,id){
a= qty * price;
Id = 'price-' + id
document.getElementById(Id).innerHTML=a;
}

</script>

{% endblock %}